@font-face {
  font-family: Imported;
  src: url(../assets/StyleThief-Mz6w.ttf);
}

.backdrop {
  border: 1px solid aliceblue;
  width: 70%;
}

.exit {
  font-size: x-large;
  color: #9d00ff;
  margin-top: 50px;
  background: none;
  border: 1px #9d00ff solid;
  transition: transform 0.2s ease-in-out;
}

.exit:hover {
  transform: scale(1.2);
  color: white;
    cursor: pointer;

}

.overview {
  margin-left: 20%;
  margin-right: 20%;
}

.SpecificMovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 0%;
}

.tagline {
  font-style: italic;
}

.title {
  font-family: Imported;
  text-decoration: underline;
  font-size: 6em;
  letter-spacing: 0.08em;
  margin: 0%;
}
