@font-face {
  font-family: Imported;
  src: url(../assets/StyleThief-Mz6w.ttf);
}

.SpecificMovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 0%;
  background: black;
}
.exit {
  font-size: xx-large;
  color: #9d00ff;
  letter-spacing: 0.08em;
  margin-top: 30px;
  background: none;
  border: 1px #9d00ff solid;
  transition: transform 0.2s ease-in-out;
}

.exit:hover {
  transform: scale(1.2);
  color: white;
  cursor: pointer;
}

.title {
  font-family: Imported;
  text-decoration: underline;
  font-size: 6em;
  letter-spacing: 0.10em;
  margin: 0%;
  
}

.backdrop {
  height: 40em;
  width: 90%;
}

.lower {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

.lower-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.overview,
.genres,
.runtime,
.date,
.numeric {
  display: flex;
  text-align: center;
  height: 15%;
  width: 90%;
  /* border: 1px #9d00ff solid; */
  align-items: center;
  align-self: center;
  justify-content: center;

}

.player {
  align-self: flex-end;
  width: 40%;
}

.tagline {
  font-size: 20px;
  font-style: italic;
}