.MiniMovieCard {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.MiniMovieCard p {
  color: aliceblue;
  margin: 0%;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
}

.poster {
  border: 1px solid aliceblue;
  height: 400px;
  width: 250px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 2%;
  box-shadow: rgba(255, 255, 255, 0.524) 0px 8px 19px,
    rgba(0, 0, 0, 0.22) 0px 7px 6px;
  margin: 0%;
}

.poster:hover {
  transform: scale(1.1);
}

.rating{
display: flex;
align-items: center;
}

.rating img{
width: 25px;
}

